/* src/App.css */
@keyframes slide-in {
  from {
      transform: translateX(-100%); /* Slide from left */
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%); /* Slide out to right */
  }
}

.slide-in {
  animation: slide-in 0.7s forwards; /* Animation for title entering */
}

.slide-out {
  animation: slide-out 0.7s forwards; /* Animation for title exiting */
}
